@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* overflow-x: auto; */
}

:root {
  --bg-color: #2b2b2b;
  --bg-second-color: #3b3b3b;
  --primary-text-color: #ffffff;
  --secondary-text-color: #858584;
  --button-bg-color: #a259ff;
  --light-gray: #cccccc;
  --green-numbers-color: #00ac4f;
  --work-sans: "Work Sans", serif;
  --space-mono: "Space Mono", serif;
}
